<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="org.example.petclinic.model.Vet"*/-->
<h1 th:text="'List of Vets'">
    list of Vets
</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody th:each="vet : ${vets}">
    <tr>
        <td th:text="${vet?.id}">666</td>
        <td th:text="${vet?.firstName}">Акакий</td>
        <td th:text="${vet?.lastName}">Акакиев</td>
    </tr>
    </tbody>
</table>
</body>
</html>